
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Polular Songs</h2>

<p>Welcome to our song library</p>

@Html.ActionLink("Browse our Songs", "Browse", "Songs")